.services {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.services h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;
}
.services h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.services h4 {
  font-size: 20px;
  font-weight: 600;
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon {
  background-color: cornflowerblue;
  width: 4rem;
  height: 4rem;
  padding: 30px;
  border-radius: 50%;
  color: white;
}
