.aboutimg {
  background-image: url("./girl.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  background-position: right;
}
.about {
  margin: 0;
  padding: 0;
}
.para {
  padding: 20px;
  margin: 20px;
}
